#dashAgenda{
    position: absolute;
    top: -10;
}
#dashAgenda, #dashTarefas{
    background-color: dodgerblue;
    color: white;
    border-radius: 15px;
    padding: 12px;
    margin: 20px; 
}
#dashDiv1{
    background-color: dodgerblue;
    color: white;
    padding: 3px;
    font-size: 20px;
}
#dashDiv2{
    background-color: rgb(150, 37, 56);
    color: white;
    padding: 3px;
    font-size: 20px;
}
#dashDiv3{
    background-color: rgb(13, 146, 128);
    color: white;
    padding: 3px;
    font-size: 20px;
}
#dashDiv4{
    background-color: yellow;
    color: black;
    padding: 3px;
    font-size: 20px;
}
