input, select, textarea{
    width: 100%;
    border: 1px solid white;
    height: 24px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px black;
    text-indent: 10px;
}
.buttonType1{
    background-color: dodgerblue;
    color: white;
    height: 40px;
    width: 100px;
    border-color: dodgerblue;
    margin-top: 20px;
    box-shadow: 0px 0px 2px 0px black;  
    position: relative;
    left: 1%;  
}