a{
    color: dodgerblue;
    text-decoration: unset;
}
p{
    color: dodgerblue;
    margin-bottom: 20px;
}
.divShadow{
    border-bottom: 2px solid rgb(202, 202, 202);
    margin-bottom: 10px;
}

.background1{
    background-color:rgb(81, 81, 206);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.background2{
    background-color:rgb(50, 131, 77);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.background3{
    background-color:rgb(175, 102, 41);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.linha1{
    background-color: rgb(172, 180, 56);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.linha2{
    background-color: rgb(64, 151, 90);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.mt30{
    margin-top: 30px;
}
.ptb40{
    padding-top: 40px;
    padding-bottom: 40px;
}
.a a{
    color: white;
    text-decoration: unset;
}
.background1 h1, .background2 h1, .background3 h1{
    margin-bottom: 20px;
    font-size: 50px;
}