@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;   
}
html{
    overflow-y: scroll;
}
html, body{
    height: 100%;
}
body{
    min-height: 100%;
    position: relative;
}

.b5r:hover{
    border-radius: 30px;
}
.empurra{
    width: 100%;
    height: 50%;
    clear: both;
}
main{
    padding-top: 20px;
    padding-bottom: 50px;
}


nav{
    width: 98%;
    height: 100px;
    background-color: dodgerblue;
    padding: 0 1%;
}
nav .logo{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 8%;
    top: 15px;
    
}
nav ul{
    float: right;
    margin-top: 25px;
}
nav ul li a span{
    font-size: 20px;
    padding: 20px;
}
.logo, ul{
    float: right;
  
}
.logo{
    padding: 7px;
}
.logo i{
    color: #fff;
}
ul li{
    display: inline-block;  
}
ul li a{
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: 15px;
    padding: 5px 6px;
    font-size: 16px;
    font-weight: 400;
    transition: 0;
    text-align: center;
}
ul li a span, ul li a i{
    display: block;
}
ul li a i{
    font-size: 25px;
}
ul li a:hover{
    background-color: white;
    color: dodgerblue;
    transition: 0.5s ease-in-out;
}


button{
    border: unset;
    background-color: #fff;
    font-size: 18px;
    color: black;
    box-shadow: 3px 15px 10px -5px rgba(0,0,0,0.51);
}

footer{
    position: fixed;
    width: 98%; 
    height: 25px;
    background-color: dodgerblue;
    padding: 4px 1%;
    bottom: 0;
   
}
footer .logofooter i{
    display: inline-block;
    height: 10px;
    width: 25px;
    color: white;
}
footer .logofooter small{
    color: #fff;
}
footer .copy{
    height: 0px;
    text-align: left;   
    color: white;
}
footer .support{
    
    left: 45%;
    color: #fff;
   
}