h1{
    margin-top: 20;
    margin-bottom: 40px;
    color: dodgerblue;
}
h2, p{
    color: white;
    margin: 20px;

}
.back{
    background-color: dodgerblue;
    padding: 10px;
    border: solid dodgerblue;
    border-radius: 15px;
}
.spacing{
    margin: 15px 0;
}
a{
    color: white;
    text-decoration: unset;
}