h1{
    color: dodgerblue;
    margin-top: 20px;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.articleNews{
    color: white;
    background-color: dodgerblue;
    border-radius: 5px;
    border: solid dodgerblue;
}
h4{
    margin-top: 30px;
    border-left:solid black;
    border-bottom: solid black;
}
a{
    color: black;
    text-decoration: unset;
}